@model IEnumerable<Livraria.MVC.ViewModels.LivroViewModels>

@{
    ViewBag.Title = "Livros Cadastrados";
}

<h2>Index @DateTime.Now</h2>

@using (Ajax.BeginForm("Index","Livro",new AjaxOptions { HttpMethod="Get",InsertionMode=InsertionMode.Replace,UpdateTargetId="divBuscaPorNome"}))
{
     @Html.TextBox("Pesquisa")
    <input type="submit" value="Pesquisar" class="glyphicon-credit-card" />

}
@Html.Partial("_BuscaPorNome",Model)
<p>
    @Html.ActionLink("Novo Livro", "Create")
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }

