<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Livraria Amplitude</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/LayoutAdministrativo/LayoutAdmstyle.css" rel="stylesheet" />
   
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">@Html.ViewBag.Title</span>
                </button>
            </div>
            <div class="p-4">
                <h2><a href="Livro/Index" class="logo">Administração</a></h2>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-user-circle mr-3"></span> @User.Identity.Name</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-home mr-3"></span> Inicio</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-book mr-3", aria-hidden="true" ></span> Sobre</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-line-chart mr-3" aria-hidden="true" ></span> Faturamento</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa fa-money mr-3" aria-hidden="true" ></span> Perdas</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-plus mr-3" aria-hidden="true" ></span> Cadastros</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-shopping-bag mr-3" aria-hidden="true"></span> Vendas</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-stack-overflow mr-3" aria-hidden="true"></span> Estoque</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4"></h2>
            @RenderBody()
        </div>
    </div>

   
   
    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i>
        </p>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/LayouAdm/bootstrap.min.js"></script>
    <script src="~/Scripts/LayouAdm/jquery.min.js"></script>
    <script src="~/Scripts/LayouAdm/main.js"></script>
    <script src="~/Scripts/LayouAdm/popper.js"></script>
</body>
</html>
